.h-container {
    margin-top: 27px;
}

.h-container h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.02em;
    color: #000000;
}

.h-container h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #7E7E7E;
}
